@charset "utf-8";

/* .smart-webzine-container{margin:0; padding:0; background-color:#fff}
배경색 */
.smart-webzine-container{margin:0; padding:0; background-color:#fff}


/* .smart-webzine{margin:0; padding:0; list-style:none; border-top:1px solid #efefef; border-bottom:1px solid #efefef}
상단 하단 구분선 */
/* .smart-webzine{margin:0; padding:0; list-style:none; border-top:1px solid #ff0000; border-bottom:1px solid #fff000}
*/

/* .smart-webzine li{margin:0; padding:14px 0; border-bottom:1px dotted #efefef}
중간선
*/
.smart-webzine li{margin:0; padding:14px 0; border-bottom:1px dotted #000000}


/*마우스 올라왔을때 배경 색
*/
.smart-webzine li:hover{background-color:#ffffff}

/*.smart-webzine li:last-child{border-bottom-color:#fff}
   하단선 출력 부분 */
.smart-webzine li:last-child{border-bottom-color:#000}
/* 작성자 */
.smart-webzine li p{margin:0; padding:0 5px 0 0; line-height:1.5; font-family:돋움,sans-serif; font-size:13px; color:#000000}

.smart-webzine li a{color:#000000; outline:none}

/*
제목 및 내용 글자색
*/
/* 제목 글자색 및 크기
.smart-webzine li .titleArea{margin-bottom:10px; font-size:20px; color:#000000; font-weight:bold}
*/
.smart-webzine li .titleArea{margin-bottom:10px; font-size:13px; color:#000000; font-weight:bold}

.smart-webzine li .category{color:#000000}
.smart-webzine li .date{margin-top:3px; color:#000000}
.smart-webzine li .icon{display:inline-block; margin-left:3px; vertical-align:top}
.smart-webzine li:hover .title,
.smart-webzine li a:hover .title,
.smart-webzine li a:focus .title{font-weight:bold; letter-spacing:-1px; color:#000000}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.smart-webzine li:hover .title,
	.smart-webzine li a:hover .title,
	.smart-webzine li a:focus .title{font-weight:normal; letter-spacing:0}
}
.smart-webzine li:hover .summary a{color:#000000}
.smart-webzine .webzine-thumb{position:relative; float:left; margin-right:8px}
.smart-webzine .webzine-thumb span.noimage{position:absolute; display:block; background-color:#000000; border:1px solid #efefef; line-height:75px; text-align:center; font-family:'Nanum Gothic','Malgun Gothic',돋움,sans-serif; font-weight:700; font-size:17px; color:#000000}

.x #zonePageContent .smart-webzine{margin:0; padding:0}
.x #zonePageContent .smart-webzine li{margin:0; padding:14px 0; border-bottom:1px dotted #efefef}