@charset "utf-8";

/*--[ Clearfix ]--*/
*{box-sizing:border-box;}
.newclearfix:after{clear:both; content:' '; display:block; font-size:0; height:0; line-height:0; visibility:hidden; width:0}

.sangjusori1 {color: #000000; font-size: 13px;}
.sangjusori1-title {color: dodgerblue; font-size: 14px; }
.sangjusori1-number {border-style: solid; border-width: 0px; color: white; font-size: 13px; display: inline; margin : 0px; margin-right: 7px; padding: 3px; background-color: tomato;}

/* Main Article */
.popularSimple1{ position:relative; *zoom:1;}
.popularSimple1 ul{ position:relative; margin:0; padding:0; list-style-type: none; border-bottom:1px solid #e1e1e1; *zoom:1;}
.popularSimple1 ul ul{ display:none; list-style-type: none; position:absolute; width:100%; top:31px; left:0; border:0; padding:15px 0 0 0; }
.popularSimple1 ul:after{ content:""; display:block; clear:both;}
.popularSimple1 li{ float:left; margin-right:-1px; margin-bottom:-1px; *zoom:1;}
.popularSimple1 li a{ position:relative; float:left; padding:8px 19px 7px 19px; text-decoration:none; border:1px solid #ccc; background:#f6f6f6; color:dodgerblue ; }
.popularSimple1 li.active a{ color:dodgerblue; font-weight:bold; border-bottom:1px solid #fff; background:#fff; letter-spacing:-1px;}
.popularSimple1 li.active li{ float:none; margin:0 0 6px 0; padding:0 0 0 28px; background:url(../img/iconList.gif) no-repeat 15px center;}
.popularSimple1 li.active li a{ padding:0; float:none; border:0; background:none; color:#837f7f; font-weight:normal;}
.popularSimple1 li.active ul{ display:block;}
.popularSimple1 li li.more{ position:absolute; top:-20px; right:13px; background:url(../img/iconMore.gif) no-repeat right center; padding:0 8px 0 0; letter-spacing:-1px; border:0; font-size:11px;}
.popularSimple1 li li.more a{color:#afafaf;}
.popularSimple1 li li a:hover,
.popularSimple1 li li a:active,
.popularSimple1 li li a:focus{ text-decoration:underline;}

