@charset "utf-8";
/* Clearfix */
.newclearfix:after{clear:both; content:' '; display:block; font-size:0; height:0; line-height:0; visibility:hidden; width:0}
* html .newclearfix,:first-child+html .newclearfix{zoom:1}

/*--[ WIDGET ]--*/
.smart_news_ticker ul{margin:0; padding:0; list-style:none}
.smart_news_ticker li{height:30px; margin:3px; padding:3px;}
.smart_news_ticker a{display:block; font-size:1rem; color:#888; text-decoration:none;}
.smart_news_ticker a:hover,
.smart_news_ticker a:focus{color:#d42d17}

/*.smart_news_ticker .news_arrow{display:inline-block; border-left:9px solid #fd7700; border-top:5px solid transparent; border-bottom:5px solid transparent; height:0; width:0}*/
.smart_news_ticker .news_arrow{display:inline-block; background-color: darkgoldenrod width : 30px; height : 20px;}
.smart_news_ticker .title{color:#333}
.smart_news_ticker .date{font-family:Verdana}
.smart_news_ticker .bx-wrapper{position:relative; margin:0 auto; padding:0}

@media screen and (max-width:767px){
	.smart_news_ticker .ticker-title{float:none}
	.smart_news_ticker .ticker-info{display:none; float:none}
}